<mwl-navbar></mwl-navbar>
<router-outlet></router-outlet>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>


<br>

<br>
<div class="uk-padding ">
    <div class="form-row">
        <div class="form-group col-md-4">
          <label >spes</label>
          <select class="form-control" name="spes" [(ngModel)]="data.spes"  >
              <option >GI </option>
              <option> TM </option>
              <option >GA </option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label >niveaux</label>
            <select class="form-control" name="niveaux" [(ngModel)]="data.niveaux"  >
                <option >S1 </option>
                <option> S2 </option>
                <option >S3 </option>
                <option >S4 </option>
              </select>
        </div>
        
        <div class="form-group col-md-2">
            <label >affiche</label>
            <button class=" form-control uk-button uk-button-primary " (click)="afficheEtud()">affiche</button>
        </div>
      </div>
</div>


<div class="uk-padding "  *ngIf="isSearch===true" >
<table class="uk-table uk-table-hover uk-table-divider" >
    <thead>
        <tr>
            <th>CNE</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Spécialité</th>
            <th>Niveaux</th>
            <th>Affiche</th>
            <th>telecharger</th>
            

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of etudArra" >
            <td>{{item.cne}}</td>
            <td>{{item.nom}}</td>
            <td>{{item.prenom}}</td>
            <td>{{item.spes}}</td>
            <td>{{item.niveaux}}</td>
      
            <td><button (click)="editforms1(item.$key)" class="uk-button uk-button-default" (click)="openS1(contS1)" (click)="openS2(contS2)" (click)="openS3(contS3)"  (click)="editforms1(item.$key)" >affiche</button></td>
            <td><button class="uk-button uk-button-danger" (click)="show(item.cne,item.nom)">telecharger</button></td>
           
           
           
           
           
            <div  >
                <ng-template #contS1 let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">{{item.cne}} // {{item.nom}} {{item.prenom}}</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">            
                    <div class="form-row" >
                        <div class="form-group col-md-4" >
                            
                          <label >algebre 1</label>
                          <input type="text" [(ngModel)]="data.algebre" disabled >
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >analyse 1</label>
                            <input type="text"   [(ngModel)]="data.analyse" disabled >
                        </div>
                      </div>

                      <div class="form-row" >
                        <div class="form-group col-md-4" >
                            
                          <label >algorithmique </label>
                          <input type="text"  [(ngModel)]="data.algorithmique" disabled >
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >langageC</label>
                            <input type="text" [(ngModel)]="data.langageC"  disabled >
                        </div>
                      </div>
            
                    
                    <div class="form-row" >
                        <div class="form-group col-md-4" >         
                          <label >bureautique </label>
                          <input type="text"  [(ngModel)]="data.bureautique" disabled>
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >francais</label>
                            <input type="text"   [(ngModel)]="data.francais"disabled >
                        </div>
                      </div>
                      <div class="form-row" >
                        <div class="form-group col-md-4" >
                            
                          <label >anglais </label>
                          <input type="text"  [(ngModel)]="data.anglais" disabled>
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >droit</label>
                            <input type="text"  [(ngModel)]="data.droit"disabled >
                        </div>
                      </div>


                      <div class="form-row" >
                        <div class="form-group col-md-4" >
                            
                          <label >electronique </label>
                          <input type="text" [(ngModel)]="data.electronique" disabled>
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >industri</label>
                            <input type="text"  [(ngModel)]="data.industri" disabled>
                        </div>
                      </div>


                      <div class="form-row" >
                        <div class="form-group col-md-4" >
                            
                          <label >architecture </label>
                          <input type="text"  [(ngModel)]="data.architecture"disabled >
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >resultat</label>
                            <input type="text" value="{{item.resultat}}"  disabled >
                        </div>
                      </div>



                    </div>
            
                </ng-template>
            </div>
            




            <div  >
                <ng-template #contS2 let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">{{item.cne}} // {{item.nom}} {{item.prenom}}</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">            
                        <div class="form-row" >
                            <div class="form-group col-md-4" >
                                
                              <label >algebre 2</label>
                              <input type="text"[(ngModel)]="data.algebre2"  disabled>
                            </div>
                            <div class="form-group col-md-2" ></div>
                
                            <div class="form-group col-md-4">
                                <label >analyse 2</label>
                                <input type="text"  [(ngModel)]="data.analyse2" disabled >
                            </div>
                          </div>

                          <div class="form-row" >
                            <div class="form-group col-md-4" >
                                
                              <label >base de donne </label>
                              <input type="text" [(ngModel)]="data.bdd" disabled >
                            </div>
                            <div class="form-group col-md-2" ></div>
                
                            <div class="form-group col-md-4">
                                <label >vb.net </label>
                                <input type="text"  [(ngModel)]="data.vbdotnet" disabled >
                            </div>
                          </div>
            
                    



                    <div class="form-row" >
                        <div class="form-group col-md-4" >         
                          <label >merise </label>
                          <input type="text" [(ngModel)]="data.merise"disabled >
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >langage C avancee</label>
                            <input type="text" [(ngModel)]="data.langageCAvs"  disabled >
                        </div>
                      </div>
                      <div class="form-row" >
                        <div class="form-group col-md-4" >
                            
                          <label >C ++  </label>
                          <input type="text" [(ngModel)]="data.Cplus" disabled >
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >reseaux</label>
                            <input type="text"  [(ngModel)]="data.reseaux" disabled >
                        </div>
                      </div>


                      <div class="form-row" >
                        <div class="form-group col-md-4" >
                            
                          <label >sysExploi </label>
                          <input type="text"  [(ngModel)]="data.sysExploi"disabled >
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >resultat</label>
                            <input type="text"  [(ngModel)]="data.architecture" disabled >
                        </div>
                      </div>





                    </div>
         
                </ng-template>
              

            </div>
            

                



            <div  >
                <ng-template #contS3 let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">{{item.cne}} // {{item.nom}} {{item.prenom}}</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">            
                        <div class="form-row" >
                            <div class="form-group col-md-4" >
                                
                              <label >reseaux avances</label>
                              <input type="text"  [(ngModel)]="data.reseauxAVS"disabled >
                            </div>
                            <div class="form-group col-md-2" ></div>
                
                            <div class="form-group col-md-4">
                                <label >dev web</label>
                                <input type="text"   [(ngModel)]="data.devWEB" disabled >
                            </div>
                          </div>

                          <div class="form-row" >
                            <div class="form-group col-md-6" >
                                
                              <label >base de donne avances </label>
                              <input type="text"  [(ngModel)]="data.bddAVS" disabled>
                            </div>
                            <div class="form-group col-md-2" ></div>
                
                    
                          </div>
            
                    
                    <div class="form-row" >
                        <div class="form-group col-md-4" >         
                          <label >JAVA </label>
                          <input type="text"  [(ngModel)]="data.java" disabled>
                        </div>
                        <div class="form-group col-md-2" ></div>
            
             
                      </div>


                    <div class="form-row" >
                        <div class="form-group col-md-4" >         
                          <label >U.M.L </label>
                          <input type="text"   [(ngModel)]="data.uml"disabled >
                        </div>
                        <div class="form-group col-md-2" ></div>
            
                        <div class="form-group col-md-4">
                            <label >dev web 2</label>
                            <input type="text"   [(ngModel)]="data.devWEB2" disabled >
                        </div>
                      </div>

                      
                    
                    



                    </div>
              
                </ng-template>
                
            </div>
            





        </tr>

    </tbody>
</table>
</div>


