<title>home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>
<style>

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  /*background-image: url("/w3images/mac.jpg");*/
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}



.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top" style=" position: absolute ">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/home" class="w3-bar-item w3-button w3-wide">EST Sidi Bennour</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="" class="w3-bar-item w3-button"><i class="fa fa-home" aria-hidden="true"></i> accueil</a>
      <a (click)="afficheFormation()" class="w3-bar-item w3-button"><i class="fa fa-bandcamp"></i>  Formation  </a>
      <a *ngIf="isloged" (click)="calendar()" class="w3-bar-item w3-button"><i class="fa fa-bandcamp"></i> calendrier </a>
     <a *ngIf="isloged" (click)="resultat()" class="w3-bar-item w3-button" ><i class="fa fa-eye" aria-hidden="true"  ></i> afficher les resultats</a> 
     <a *ngIf="!isloged" (click)="afficheResu()" class="w3-bar-item w3-button" ><i class="fa fa-eye" aria-hidden="true"  ></i> afficher les resultats</a> 
      <a (click)="inscrire()" class="w3-bar-item w3-button"><i class="fa fa-usd"  ></i> S'inscrire</a>
      <a *ngIf="!isloged" (click)="login()" class="w3-bar-item w3-button"><i class="fa fa-sign-in" ></i> Connecter  </a>
      <a *ngIf="isloged" (click)="logout()" class="w3-bar-item w3-button"><i class="fa fa-sign-out" aria-hidden="true" ></i> Deconnecter  </a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<img src="../../assets/home-bg.jpg" alt="home page" style="padding: 5px; height: 500px;width: 100%; " >



<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>L’ECOLE SUPÉRIEURE DE TECHNOLOGIE SIDI BENNOUR </h3>
      <p>L’Ecole Supérieure de Technologie Sidi Bennour (ESTSB) est un établissement public d’enseignement supérieur à 
        nalité de formation des Techniciens Supérieurs. Elle a été créée en Août 2016 par le Ministère de l’Enseignement Supérieur, de la Formation des Cadres et de la Recherche Scientifique du Royaume du Maroc. L’ESTSB est une composante de l’Université Chouaib Doukkali d’El Jadida. Sa vocation est de former des Techniciens Supérieurs polyvalents, hautement qualifiés et immédiatement opérationnels après leur sortie de l’Ecole en tant que collaborateurs d’ingénieurs et de managers. Sont admis à l’ESTSB, les bacheliers de l’enseignement secondaire technique, scientifique et tertiaire. L’admission à l’Ecole (au de Diplôme Universitaire de Technologie « DUT ») se fait par voie de sélection par ordre de mérite après une présélection sur la base des notes obtenues au baccalauréat. Les candidats doivent être âgés de 22 ans au plus au 31 Décembre de l’année du concours et doivent déposer leurs dossiers de pré-inscription avant le 30 Juin de chaque année universitaire.</p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="../../assets/1.jpg" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div><br><br><br>
<div class="divider">
  <h2 class="w3-center"><h1 class="LC20lb DKV0Md" style="text-align: center;">Nos filli&egrave;res</h1>
    <p>&nbsp;</p></h2>
  
	<div  style="margin: 70px;">
		<div class="row">
			<div  class="col-md-4">
				<div class="divider-wrapper divider-one">
					
					<h2 class="text-center">Genie Informatique</h2>
					<p><p>Administration de Syst&egrave;mes et de R&eacute;seaux (ASR) :</p>
					<p>La r&eacute;partition et le partage des ressources mat&eacute;rielles, logicielles et informationnelles dans les syst&egrave;mes et r&eacute;seaux ont conduit &agrave; une &eacute;volution de certains m&eacute;tiers de l&rsquo;informatique et &agrave; l&rsquo;&eacute;mergence de nouveaux m&eacute;tiers. Parmi ces derniers, figurent ceux qui prennent en charge l&rsquo;ensemble des t&acirc;ches relatives &agrave; l&rsquo;administration et &agrave; la gestion d&rsquo;un parc informatique (organis&eacute; ou &agrave; organiser) en r&eacute;seau.</p>
					<p>Les comp&eacute;tences vis&eacute;es dans cette option s&rsquo;inscrivent dans ce cadre et correspondent, au niveau technique, &agrave; l&rsquo;exercice de fonctions d&rsquo;interface entre les utilisateurs, les fournisseurs d&rsquo;&eacute;quipements mat&eacute;riels et logiciels ou prestataires externes, les gestionnaires et les d&eacute;cideurs.</p>
					<p>Ces comp&eacute;tences sont principalement :</p>
					<p>&ndash; le choix et l&rsquo;installation des &eacute;quipements mat&eacute;riels et logiciels relatifs &agrave; l&rsquo;interconnexion au niveau d&rsquo;un site ou entre sites distants</p>
					<p>&ndash; le choix, la mise en &oelig;uvre et le test de l&rsquo;&eacute;lectronique active utilis&eacute;e dans les diff&eacute;rents &eacute;quipements</p>
					<p>&ndash; le choix et la mise en &oelig;uvre de configurations de type client/serveur</p>
					<p>&ndash; l&rsquo;administration d&rsquo;un r&eacute;seau local ou &eacute;tendu</p>
					<p>&ndash; l&rsquo;administration d&rsquo;un ou plusieurs syst&egrave;mes de bases de donn&eacute;es d&rsquo;entreprise</p>
				</div>
			</div>
			<div  class="col-md-4 ">
				<div class="divider-wrapper divider-two">
					<h2 class="text-center">Techniques de Management</h2>
					<p><p>Former des techniciens sup&eacute;rieurs en techniques de management qui disposent de&nbsp; connaissances et&nbsp; de comp&eacute;tences appr&eacute;ciables relative aux organisations, priv&eacute;es et publiques.</p>
					<p><strong>D&eacute;bouch&eacute;s potentiels</strong>&nbsp;:</p>
					<p>&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Int&eacute;grer l&rsquo;entreprise priv&eacute;e et publique</p>
					<p>&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cr&eacute;ation d&rsquo;entreprise</p>
					<p>&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fonction publique</p>
					<p>&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gestionnaire</p>
					<p>&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Technicien en informatique de gestion</p>
					<p><strong>Conditions d&rsquo;acc&egrave;s :</strong></p>
					<p>&ndash; Acc&egrave;s sur &eacute;tude de dossier</p>
					<p>&ndash; Baccalaur&eacute;ats Scientifiques et Techniques</p>
					<p><strong>Options&nbsp;:</strong></p>
					<p>&ndash; Comptabilit&eacute; en Normes Fran&ccedil;aises et Internationales.</p>
					<p>&ndash; Gestion des banques et&nbsp; assurances</p>
					<p>&ndash; Gestion des Ressources Humaines.</p>
				</div>
      </div>
    
			<div class="col-md-4">
				<div class="divider-wrapper divider-three">
					<h2  class="text-center">Genie Agricole</h2>
					<p><p>Le DUT agronomie est pr&eacute;cis&eacute;ment le DUT g&eacute;nie biologique option agronomie ou DUT GB agro. En effet le DUT g&eacute;nie biologique peut proposer les options agronomie, analyse biologique et biochimique et industrie alimentaire et biologique. Il s&rsquo;agit d&rsquo;un&nbsp;<strong>dipl&ocirc;me d&rsquo;&Eacute;tat de niveau&nbsp;bac+2</strong>&nbsp;accessible directement apr&egrave;s le bac.</p>
					<p>Au sein de ce cursus d&rsquo;une dur&eacute;e de deux ans, les &eacute;tudiants apprennent les techniques d&rsquo;am&eacute;lioration des conditions de production agricole pour travailler dans le domaine de la qualit&eacute; ou du commerce. Cette formation professionnalisante est disponible dans les&nbsp;<strong>Instituts Universitaires de Technologie</strong>&nbsp;et peut &ecirc;tre suivie&nbsp;en alternance&nbsp;si les &eacute;tudiants souhaitent acqu&eacute;rir de l&rsquo;exp&eacute;rience rapidement via&nbsp;<strong>un contrat de professionnalisation ou un contrat d&rsquo;apprentissage</strong>.</p>
				</div>
			</div>
    </div>
  </div>
</div>


<div id="portfolio">
	<div class="container">
	 <h2 class="w3-center"> <h1 class="LC20lb DKV0Md" style="text-align: center;">Activités Récentes</h1>
          <p>&nbsp;</p></h2>	
			<div class="col-md-offset-2 col-md-8 col-sm-12">
       		
         </div>


           	<div class="row2">
              <div class="column">

			<img src="../../assets/1.jpg" style="width:100%">


			<img src="../../assets/2.jpg" style="width:100%">
			<img src="../../assets/3.jpg" style="width:100%">


			<img src="../../assets/4.jpg" style="width:100%">
    </div>
    <div class="column">
			<img src="../../assets/5.jpg" style="width:100%">

			<img src="../../assets/6.jpg" style="width:100%">

			<img src="../../assets/7.jpg" style="width:100%">
			<img src="../../assets/8.jpg" style="width:100%">
          </div>
        </div>
        
        </div>
      </div>


<!-- Team Section -->
<div class="w3-container text-center" style="padding:128px 16px" id="team">
  <h2 class="w3-center"> <h1 class="LC20lb DKV0Md" style="text-align: center;">Nos professeurs</h1>
    <p>&nbsp;</p></h2>
  <p class="w3-center w3-large">Les professeurs  </p>
  <div class=" w3-row-padding w3-grayscale " style="margin-top:64px">
    <div class=" text-center">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQHLWks5HG8P0Q/profile-displayphoto-shrink_200_200/0?e=1586390400&v=beta&t=ODyDq5C9qv-J0HT1T5e4ZE2yYf4fiSGcVjxO2oimYMY" alt="Mike" style="width:330px;height: 220px;">
          <div class="w3-container">
            <h3>M. Najib Saber</h3>
            <p class="w3-opacity">Enseignant Chercheur chez Université Chouaïb Doukkali El Jadida</p>
          </div>
        </div>
      </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="../../assets/mabrouk.jpg" alt="John" style="width:330px;height: 220px;">
        <div class="w3-container">
          <h3>M. Mabrouk Abdelfetah</h3>
          <p class="w3-opacity">Ph. D. Student at the ENSIAS School, Mohammed V University of Rabat, Morocco</p>
        
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="../../assets/prof2.png" alt="Jane" style="width:330px;height: 220px;">
        <div class="w3-container">
          <h3>M. Saidi  </h3>
          <p class="w3-opacity">Enseignant chercheur chez EST Sidi Bennour</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="../../assets/profBADDI.JPG" alt="Mike" style="width:330px;height: 220px;">
        <div class="w3-container">
          <h3>M. baddi</h3>
          <p class="w3-opacity">Professeur Assistant | Consultant | formateur | Keynote Speaker</p>
        </div>
      </div>
    </div>
    
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://scontent.fcmn3-2.fna.fbcdn.net/v/t1.0-9/78422509_1527015017474179_6999633263148924928_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_oc=AQmLmZVo_68nIPbm6Bx5FKn344pQ0zHp2jrPilJGsppxNXKQZ8OiAX2uLeuCVsrgxwM&_nc_ht=scontent.fcmn3-2.fna&oh=e97fc82e9726045d35d59e8a46743a50&oe=5EB047C5" alt="Mike" style="width:330px;height: 220px;">
        <div class="w3-container">
          <h3>M. toumi</h3>
          <p class="w3-opacity">Professeur de l’Enseignement Supérieur Assistant</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://scontent.fcmn2-2.fna.fbcdn.net/v/t1.0-9/1891161_10152047562678717_161723903_n.jpg?_nc_cat=100&_nc_sid=7aed08&_nc_oc=AQnQgePKaMRoxCIHe9gXW8wNqQeq1AN95VwP2eN78-LQwqq_jOKg-RUIGLm458zIxB4&_nc_ht=scontent.fcmn2-2.fna&oh=d9a4787f27b76c05081f5a8abf74f8dc&oe=5EAE4333" alt="Mike" style="width:330px;height: 220px;">
        <div class="w3-container">
          <h3>M. Adil EL Amri</h3>
          <p class="w3-opacity">Professeur chez Université Chouaïb Doukkali El Jadida          </p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFHbz0T8ECZZA/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=obQisrWNJOrVpc5BsHc6QSY787gRa7HS8KMfvh3sYlI" alt="Mike" style="width:330px;height: 220px;">
        <div class="w3-container">
          <h3>M. amine abderma </h3>
          <p class="w3-opacity">Professeur chez Université Chouaïb Doukkali El Jadida </p>
        </div>
      </div>
    </div>

  </div>
  </div>

</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>





<!-- Pricing Section -->
<div class="w3-container w3-center w3-dark-grey" style="padding:45px 16px" id="pricing">
  <h3 class="w3-center">contactez nous</h3>
  <p class="w3-center w3-large">Permet d'entrer en contact. Envoie-nous un message</p>
  <div style="margin-top:8px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> avenue Jabran Khalil، El Jadida 24000</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: (+212) 05 23 34 44 48</p>
    <p><i class="fa fa-fax fa-fw w3-xxlarge w3-margin-right"></i> FAX: (+212) 05 23 34 44 49</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
    <!-- Image of location/map -->

  </div>
</div>



<!-- Footer -->

