<mwl-navbar></mwl-navbar>
<router-outlet></router-outlet>




<br>
<br>
<br>
<br>

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>
<style>

    a{color:black;font-size: 30px;}
    a:hover{
        text-decoration: none;
        color:red;}
 
        button:hover{
        text-decoration: none;
        font-size:135%;}
  #im{width: 100%;
    height:80%;
  }
    


    </style>
    <body>
      
      <nav id="nv"class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;;" >
    <div class="container text-justify">
    <a  href="#pre">Présentation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <a href="#pro">Programme</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a  href="#apr">et après</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button></div>
  </nav>
<br>
<br>
<br>


  <div id="pre" class="container text-justify">    
    
    <h3 >Présentation</h3>
<hr>
    <div class="row">
      
<div class="col-lg-7 g-mb-0--lg g-mb-30">
  <p>Dipl&ocirc;me de niveau&nbsp;Bac+2, le Dipl&ocirc;me Universitaire de Technologie vise&nbsp;<strong>la polyvalence et la professionnalisation</strong>. Entre&nbsp;<strong>cours th&eacute;oriques</strong>&nbsp;en parall&egrave;le de&nbsp;<strong>nombreux projets turor&eacute;s,</strong>&nbsp;les DUT sont accessibles directement apr&egrave;s le bac .</p>
  <p>&Agrave; la cl&eacute; des&nbsp;<strong>deux ann&eacute;es d&rsquo;&eacute;tudes</strong>, ce dipl&ocirc;me permet &agrave; ses titulaires de&nbsp;<strong>s&rsquo;ins&eacute;rer rapidement sur le march&eacute; du travail</strong>, mais &eacute;galement de poursuivre leurs &eacute;tudes en&nbsp;bac +3&nbsp;voire bac+5.&nbsp;</p>
  <p>Au sein d&rsquo;un Ecole sup&eacute;rieure de technologie , les &eacute;tudiants auront deux ans pour se sp&eacute;cialiser dans un domaine professionnel.</p>
  <p>Dipl&ocirc;me national, le DUT est d&eacute;livr&eacute; sur la base d&rsquo;un contr&ocirc;le continu. Les connaissances sont &eacute;valu&eacute;es tout au long de l&rsquo;ann&eacute;e et sont valid&eacute;es chaque semestre. Une fois obtenu, le DUT d&eacute;livre .</p>
</div>


    <div class="col-lg-5 g-border-left-1 g-border-gray border-left">

     <div class="infos">
      <table  class="table">
        
        <tbody>
          <tr>
            <td><span class="col-lg-6 col-md-4 col-sm-4 col-12 g-color-black-v1 g-font-size-14 g-font-primary text-nowrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" height="16px" width="16px" class="g-mr-5"><g fill="#bfc9ca"><path d="M1303 964l-512 512q-10 9-23 9t-23-9l-288-288q-9-10-9-23t9-22l46-46q9-9 22-9t23 9l220 220 444-444q10-9 23-9t22 9l46 46q9 9 9 22t-9 23zm-1175 700h1408v-1024h-1408v1024zm384-1216v-288q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v288q0 14 9 23t23 9h64q14 0 23-9t9-23zm768 0v-288q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v288q0 14 9 23t23 9h64q14 0 23-9t9-23zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"></path></g></svg>Durée des études</span></td>
            <td><b>2 ans</b></td>
          </tr>
          <tr>
            <td><span class="col-lg-6 col-md-4 col-sm-4 col-12 g-color-black-v1 g-font-size-14 g-font-primary text-nowrap"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 20" height="16px" width="16px" class="g-mr-5"><g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Page-1"><g fill="#bfc9ca" id="education"><path id="Combined-Shape" d="M3.33333333,8 L10,12 L20,6 L10,0 L-5.55111512e-16,6 L10,6 L10,6.5 L10,8 L3.33333333,8 L3.33333333,8 Z M1.33226763e-15,8 L1.33226763e-15,16 L2,13.7777778 L2,9.2 L2,9.2 L1.33226763e-15,8 L1.11022302e-16,8 L1.33226763e-15,8 Z M10,20 L5,16.9999998 L3,15.8 L3,9.8 L10,14 L17,9.8 L17,15.8 L10,20 L10,20 Z"></path></g></g></svg>Nature de la formation</span></td>
            <td><b><p>dipl&ocirc;me universitaire de technologie</p></b></td>
          </tr>
          <tr>
            <td><span class="col-lg-6 col-md-4 col-sm-4 col-12 g-color-black-v1 g-font-size-14 g-font-primary text-nowrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" height="16px" width="16px" class="g-mr-5"><g fill="#bfc9ca"><path d="M1303 964l-512 512q-10 9-23 9t-23-9l-288-288q-9-10-9-23t9-22l46-46q9-9 22-9t23 9l220 220 444-444q10-9 23-9t22 9l46 46q9 9 9 22t-9 23zm-1175 700h1408v-1024h-1408v1024zm384-1216v-288q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v288q0 14 9 23t23 9h64q14 0 23-9t9-23zm768 0v-288q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v288q0 14 9 23t23 9h64q14 0 23-9t9-23zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"></path></g></svg>Fillière</span></td>
            <td> <b> <td>Genie informatique</td><td class="border-left">Techniques de Management</td><td class="border-left">Genie Agricole</td></b></td>
          </tr>
        </tbody>
      </table>
      </div>
              </div>

</div>
<br>
   <br><br>
   <br>
</div>
<br>
<br>



<div id="pro" class="container text-justify">   
 
  <h3 >Programme</h3>
  <hr>
  

  <div class="btn-group btn-group-lg" >
      <button type="button" style=" background-color: rgb(73, 5, 5);border-color: white;"(click)="gi()" class="btn btn-secondary">Genie informatique</button>
      <button type="button" style=" background-color: rgb(73, 5, 5);border-color: white;"(click)="tm()" class="btn btn-secondary">Techniques de Management</button>
    </div>
    <br>
    <br>

    <div class="btn-group"  >
      <button type="button"(click)="s1()" style=" background-color: white;border-color: white;color: black;" class="btn btn-secondary">Semestre 1</button>
      <button type="button"(click)="s2()"style="background-color: white;border-color: white;color: black;"  class="btn btn-secondary">Semestre 2</button>
      <button type="button"(click)="s3()" style="background-color: white;border-color: white;color: black;" class="btn btn-secondary">Semestre 3</button>
      <button type="button"(click)="s4()"style="background-color: white;border-color: white;color: black;"  class="btn btn-secondary">Semestre 4</button>
    </div>
<br>
    <br>
    <div class="row">
      <div class="col-lg-7 g-mb-0--lg g-mb-30">

    <div id="s"></div> 
    </div>
    <div class="col-lg-5 g-border-left-1 g-border-gray border-left">
     <p id="u"></p>
      <img id="im" src="">
    </div>
  </div>

    <br>
   <br><br>
   <br>
   </div>
   <br>
   <br>



   
   <div id="apr" class="container text-justify">   
    
    <h3 >Et Après</h3>
    <hr>
    <div class="further-study-programs">
      <h2 id="h2-1">Poursuivre ses &eacute;tudes apr&egrave;s un DUT</h2>
      <p>Les DUT sont des formations qui permettent aux &eacute;tudiants de se sp&eacute;cialiser dans des domaines tr&egrave;s vari&eacute;s juste&nbsp;<strong>apr&egrave;s le baccalaur&eacute;at</strong>&nbsp;:&nbsp;Chimie,&nbsp;Info-Com&rsquo;,&nbsp;Informatique,&nbsp;Gestion logistique,&nbsp;Carri&egrave;res juridiques,&hellip; Les possibilit&eacute;s sont nombreuses.</p>
      <p>&nbsp;</p>
      <h3 id="h2-1_h3-1">Apr&egrave;s un DUT&nbsp;: int&eacute;grer une licence ou une licence pro</h3>
      <p>Nombre d&rsquo;entre eux choisissent de s&rsquo;orienter en&nbsp;<strong>licence professionnelle</strong>, un choix qui leur permet d&rsquo;<strong>obtenir un dipl&ocirc;me</strong>&nbsp;de niveau&nbsp;bac+3 tout en poursuivant leur&nbsp;<strong>professionnalisation</strong>, les licences pro proposant la plupart du temps entre 4 et 6 mois de&nbsp;<strong>stage</strong>&nbsp;ou un cursus&nbsp;en alternance.</p>
      <p>D&rsquo;autres, quant &agrave; eux, choisisssent de poursuivre leurs &eacute;tudes universitaires en&nbsp;<strong>licence</strong>. M&ecirc;me si ce dipl&ocirc;me n&rsquo;a pas pour vis&eacute;e une insertion directe sur le&nbsp;<strong>march&eacute; de l&rsquo;emploi</strong>, il permet de poursuivre sa formation dans un domaine particulier, d&rsquo;obtenir le niveau&nbsp;<strong>bac+3</strong>, et par la suite, de poursuivre ses &eacute;tudes jusqu&rsquo;&agrave; bac+5.</p>
     
      <h3 id="h2-1_h3-3">Apr&egrave;s un DUT&nbsp;: int&eacute;grer une &eacute;cole d&rsquo;ing&eacute;nieurs</h3>
      <p>Si vous souhaitez int&eacute;grer une&nbsp;<strong>&eacute;cole d&rsquo;ing&eacute;nieurs</strong>, il existe &eacute;galement des passerelles apr&egrave;s certains DUT.</p>
      <div class="panel panel-default">&nbsp;</div>
      <h3 id="h2-1_h3-4">Apr&egrave;s un DUT&nbsp;: int&eacute;grer une &eacute;cole de commerce</h3>
      <p>Autre possibilit&eacute; apr&egrave;s un DUT&nbsp;:&nbsp;<strong>int&eacute;grer une &eacute;cole de commerce</strong>. Pour cela, plusieurs possibilit&eacute;s existent. Premi&egrave;re solution&nbsp;: vous passez par les&nbsp;<strong>admissions parall&egrave;les</strong>&nbsp;(sur concours, la plupart du temps) pour int&eacute;grer une troisi&egrave;me ann&eacute;e de bachelor. Seconde solution&nbsp;: vous tentez les concours pour&nbsp;<strong>int&eacute;grer le Programme Grande &Eacute;cole</strong>&nbsp;d&rsquo;une &eacute;cole de commerce. Chaque &eacute;cole a des modalit&eacute;s d&rsquo;admission diff&eacute;rentes. Certaines recrutent par le biais de&nbsp;concours communs, d&rsquo;autres ont leurs propres proc&eacute;dures de recrutement. Dans tous les cas, si vous pr&eacute;parez bien les concours, vous avez toutes vos chances d&rsquo;int&eacute;grer l&rsquo;&eacute;cole de commerce de vos r&ecirc;ves.</p>
     
     <h2 id="h2-2">Trouver un emploi apr&egrave;s un DUT</h2>
      <p>Pour finir, certains dipl&ocirc;m&eacute;s d&rsquo;un DUT d&eacute;cident de se lancer dans&nbsp;<strong>le monde professionnel</strong>&nbsp;apr&egrave;s l&rsquo;obtention de leur dipl&ocirc;me. La plupart, ces jeunes n&rsquo;ont pas de probl&egrave;me &agrave; trouver un emploi. En effet, le DUT est une formation permettant de mettre un pied dans le monde de l&rsquo;entreprise (stages, alternance, intervenants issus du monde professionnel,&nbsp;<strong>projets tutor&eacute;s</strong>&hellip;). Plus de la moiti&eacute; des enseignements suivis en DUT sont d&rsquo;ailleurs destin&eacute;s &agrave; acqu&eacute;rir un&nbsp;<strong>savoir-faire</strong>. Les &eacute;tudiants dipl&ocirc;m&eacute;s de ces cursus n&rsquo;ont donc aucun mal &agrave; trouver une entreprise lorsqu&rsquo;ils se lancent sur&nbsp;<strong>le march&eacute; du travail</strong>. Une bonne nouvelle pour ceux qui ne souhaitent pas poursuivre leurs &eacute;tudes.</p>  
    </div>
    <br>
   <br><br>
   <br>
    </div>
  
  
</body>
